<appSettings>
  <add key="MSSQLConnection" value="data source=27.118.20.25;initial catalog=Airfares2;persist security info=true;user id=startour;password=!Q@W#E$R%T;max pool size=1000;connect timeout=720;pooling=true;" />
  <add key="UseCache" value="false"/>
  <add key="Schema" value="dbo"/>
</appSettings>